// Specific CSS for your home-page
body {
  background-color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.accueil {
  position: relative;
  flex: 1;
}

.photo-left,
.photo-right,
.photo-center {
  position: absolute;
  object-fit: cover;
  z-index: 1;
}

.photo-left {
  position: absolute;
  width: 25%;
  height: 800px;
  left: 50px;
  margin-left: 50px;
  object-fit: cover;
  z-index: 1;
}

.photo-right {
  position: absolute;
  width: 45%;
  height: 800px;
  right: 50px;
  margin-right: 50px;
  object-fit: cover;
  z-index: 1;
}

.photo-center {
  position: absolute;
  top: 500px;
  left: 350px;
  width: 40%;
  height: 300px;
  object-fit: cover;
  z-index: 1;
}


.content {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-weight: bold;
  z-index: 2;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 1.75em;
  margin-top: 75px;
}

.btn {
  display: inline-block;
  padding: 20px 40px;
  background-color: none;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  margin-top: 50px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: black;
    color: white;
  }
}
// Media query pour les écrans de largeur inférieure à 1200px
@media screen and (max-width: 1200px) {
  .photo-left {
    justify-content: center;
    margin-top: 50px; /* Ajustement pour les écrans plus petits */
    width: 100%; /* Ajustement pour les écrans plus petits */
    height: auto; /* Pour maintenir le ratio de l'image */
    margin-left: 20px;
  }

  .photo-center, .photo-right {
    display: none; /* Cachez les images */
  }

  .content {
    top: 50%; /* Ajustement pour les écrans plus petits */
    justify-content: center;
    padding: 20px; /* Ajoutez un peu de marge pour les écrans plus petits */
  }

  h1 {
    font-size: 1.5em; /* Ajustement de la taille de police */
  }

  h2 {
    font-size: 1em; /* Ajustement de la taille de police */
    margin-top: 30px;
  }

  .btn {
    margin-top: 15px; /* Ajustement de l'espacement */
  }
}

@media screen and (max-width: 1000px) {
  .photo-left {
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: auto;
    margin-top: 50px; /* Ajustement pour les écrans plus petits */
    margin-left: 20px;
  }

  .photo-center, .photo-right {
    display: none; /* Cachez les images */
  }

  .content {
    top: 50%; /* Ajustement pour les écrans plus petits */
    justify-content: center;
    padding: 20px; /* Ajoutez un peu de marge pour les écrans plus petits */
  }

  h1 {
    font-size: 1.5em; /* Ajustement de la taille de police */
  }

  h2 {
    font-size: 1em; /* Ajustement de la taille de police */
    margin-top: 30px;
  }

  .btn {
    margin-top: 15px; /* Ajustement de l'espacement */
  }
}
